In [1]:
%pylab
import numpy as np
import pandas as pd

Using matplotlib backend: TkAgg
Populating the interactive namespace from numpy and matplotlib

In [2]:
# 读入数据
data = pd.read_excel(r"E:\Work\06-Work\07-Marketing\Customer Ref\#1_customer0902.xls",headers=1,index=0)
data.head()

,用户编号,客户姓名,真实姓名,邮箱,速卖通账号,国家,手机,电话,均消费额(￥),消费次数,消费总额(￥),最近订单日期,店铺
0,112329,Rodolfo O Arechiga,NaN,NaN,mx1103152564rxyd,Mexico,6121416881,52-612-1416881,NaN,NaN,NaN,NaN,NH
1,161176,Sayuri Matsuura,NaN,ddmatsuura.8726@gmail.com,jp1024210953,Japan,09026220304,0276-63-2415,NaN,NaN,NaN,NaN,cn1510967716
2,161229,RODOLFO DORAZIO,NaN,rudy43c@yahoo.it,us1073957369,Italy,3348141433,39-0872-660074,NaN,NaN,NaN,NaN,cn1501389850
3,161252,Juanita Castrillon,NaN,juanacastrillon@hotmail.com,co1054529745,Colombia,573103734209,57-4-2681934,NaN,NaN,NaN,NaN,cn1501389850
4,161336,Jon Ramos,NaN,s3ckzah_004@yahoo.com,us1020069336,Italy,393271932221,39-327-1932221,NaN,NaN,NaN,NaN,NH

In [3]:
columns = ['uid','name','real_name','email','ae_acount',
            'country','cell','phone','avg_cunsume','times_of_consume','cunsume','latest_date','store']
data.columns = columns
data.columns

Index(['uid', 'name', 'real_name', 'email', 'ae_acount', 'country', 'cell',
       'phone', 'avg_cunsume', 'times_of_consume', 'cunsume', 'latest_date',
       'store'],
      dtype='object')

In [4]:
data.head()

,uid,name,real_name,email,ae_acount,country,cell,phone,avg_cunsume,times_of_consume,cunsume,latest_date,store
0,112329,Rodolfo O Arechiga,NaN,NaN,mx1103152564rxyd,Mexico,6121416881,52-612-1416881,NaN,NaN,NaN,NaN,NH
1,161176,Sayuri Matsuura,NaN,ddmatsuura.8726@gmail.com,jp1024210953,Japan,09026220304,0276-63-2415,NaN,NaN,NaN,NaN,cn1510967716
2,161229,RODOLFO DORAZIO,NaN,rudy43c@yahoo.it,us1073957369,Italy,3348141433,39-0872-660074,NaN,NaN,NaN,NaN,cn1501389850
3,161252,Juanita Castrillon,NaN,juanacastrillon@hotmail.com,co1054529745,Colombia,573103734209,57-4-2681934,NaN,NaN,NaN,NaN,cn1501389850
4,161336,Jon Ramos,NaN,s3ckzah_004@yahoo.com,us1020069336,Italy,393271932221,39-327-1932221,NaN,NaN,NaN,NaN,NH

In [6]:
data.dtypes

uid                   int64
name                 object
real_name           float64
email                object
ae_acount            object
country              object
cell                 object
phone                object
avg_cunsume         float64
times_of_consume    float64
cunsume             float64
latest_date          object
store                object
dtype: object

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2717 entries, 0 to 2716
Data columns (total 13 columns):
uid                 2717 non-null int64
name                2371 non-null object
real_name           0 non-null float64
email               975 non-null object
ae_acount           2339 non-null object
country             2349 non-null object
cell                1805 non-null object
phone               2339 non-null object
avg_cunsume         2431 non-null float64
times_of_consume    2431 non-null float64
cunsume             2431 non-null float64
latest_date         2431 non-null object
store               2339 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 191.1+ KB

In [15]:
data[data.name != None].name

0              Rodolfo O Arechiga
1                 Sayuri Matsuura
2                 RODOLFO DORAZIO
3              Juanita Castrillon
4                       Jon Ramos
5                    erwin meijer
6                    Alex Lvovsky
7                 josefina andres
8                    evgenya bakl
9                 Karine Grunberg
10           Dilyara Lyaskovskaya
11                  ladislav Rebl
12      silvia lepuman llanquinao
13                      reto wyss
14                    douglas lam
15                 racheli aouate
16      Theresa Benigno-schweider
17                luigi agnoletti
18                 VINCENT CLAUDE
19                kevin Ballenger
20                       adri rgl
21                            NaN
22              MARILDA GONCALVES
23                   Leleu Alexis
24                     boaz taner
25                      Jane Egan
26            alejandro rodriguez
27                    Carlos Lois
28                   Kovacs Csaba
29                   Rachel Eldar
                  ...
2687          Fiderbaldo Ferreira
2688                rukaya dhofar
2689                   fabio zasa
2690                   Robert Tiu
2691               Fernando Meono
2692            MARILDA GONCALVES
2693     Claudiana Pereira Araujo
2694                carlos garcia
2695          Aleksandr Demidenko
2696                   Georg Nigg
2697              Tatiana Cavalin
2698             Gennadiy Saburov
2699               Kelly Gassaway
2700              Karina Jozajtis
2701              dennis dijkstra
2702              caroline borges
2703                   Elsa Bates
2704           Ekaterina Chernykh
2705                Megan Spencer
2706                  Waqas Zafar
2707               mizuho Shibata
2708               Gilmar Almeida
2709                 renan scodro
2710                eva nemetzova
2711                Brendon Silva
2712              AliExpress Zipy
2713        Wilton Paulo da Silva
2714               AliExpress Zip
2715        Jennifer Leann Tucker
2716             Damla Marmarisli
Name: name, dtype: object