In [1]:
import pandas as pd, numpy as np
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [2]:
df

                   A         B         C         D
2013-01-01  0.089381 -0.656287 -0.807773  0.550668
2013-01-02  1.277700 -1.119743 -0.769923 -0.969357
2013-01-03 -1.198768 -0.772949 -1.491370 -1.274547
2013-01-04  1.054902  1.376873  0.052332  0.745668
2013-01-05  0.561835 -0.889813 -0.098027 -1.399836
2013-01-06 -0.911789  0.038497 -1.117129  1.121232

In [3]:
df['E'] = np.where(df['D'] >= 0, '>=0', '<0')

In [4]:
df

                   A         B         C         D    E
2013-01-01  0.089381 -0.656287 -0.807773  0.550668  >=0
2013-01-02  1.277700 -1.119743 -0.769923 -0.969357   <0
2013-01-03 -1.198768 -0.772949 -1.491370 -1.274547   <0
2013-01-04  1.054902  1.376873  0.052332  0.745668  >=0
2013-01-05  0.561835 -0.889813 -0.098027 -1.399836   <0
2013-01-06 -0.911789  0.038497 -1.117129  1.121232  >=0

In [5]:
df['F'] = np.random.randint(0, 2, 6)

In [6]:
df

                   A         B         C         D    E  F
2013-01-01  0.089381 -0.656287 -0.807773  0.550668  >=0  1
2013-01-02  1.277700 -1.119743 -0.769923 -0.969357   <0  0
2013-01-03 -1.198768 -0.772949 -1.491370 -1.274547   <0  1
2013-01-04  1.054902  1.376873  0.052332  0.745668  >=0  1
2013-01-05  0.561835 -0.889813 -0.098027 -1.399836   <0  1
2013-01-06 -0.911789  0.038497 -1.117129  1.121232  >=0  1

In [7]:
df.assign(G = df.A * df.D)

                   A         B         C         D    E  F         G
2013-01-01  0.089381 -0.656287 -0.807773  0.550668  >=0  1  0.049219
2013-01-02  1.277700 -1.119743 -0.769923 -0.969357   <0  0 -1.238548
2013-01-03 -1.198768 -0.772949 -1.491370 -1.274547   <0  1  1.527887
2013-01-04  1.054902  1.376873  0.052332  0.745668  >=0  1  0.786606
2013-01-05  0.561835 -0.889813 -0.098027 -1.399836   <0  1 -0.786477
2013-01-06 -0.911789  0.038497 -1.117129  1.121232  >=0  1 -1.022327

In [8]:
df['F'] = df['F'].apply(str)

In [9]:
df

                   A         B         C         D    E  F
2013-01-01  0.089381 -0.656287 -0.807773  0.550668  >=0  1
2013-01-02  1.277700 -1.119743 -0.769923 -0.969357   <0  0
2013-01-03 -1.198768 -0.772949 -1.491370 -1.274547   <0  1
2013-01-04  1.054902  1.376873  0.052332  0.745668  >=0  1
2013-01-05  0.561835 -0.889813 -0.098027 -1.399836   <0  1
2013-01-06 -0.911789  0.038497 -1.117129  1.121232  >=0  1

In [10]:
pd.value_counts(df["E"])

<0     3
>=0    3
Name: E, dtype: int64

In [11]:
pd.pivot_table(df,index=['E','F'])

              A         B         C         D
E   F
<0  0  1.277700 -1.119743 -0.769923 -0.969357
    1 -0.318466 -0.831381 -0.794698 -1.337192
>=0 1  0.077498  0.253028 -0.624190  0.805856

In [12]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.set_index(['A'], drop = 0, append = 1)

                             A         B         C         D    E  F
           A
2013-01-01  0.089381  0.089381 -0.656287 -0.807773  0.550668  >=0  1
2013-01-02  1.277700  1.277700 -1.119743 -0.769923 -0.969357   <0  0
2013-01-03 -1.198768 -1.198768 -0.772949 -1.491370 -1.274547   <0  1
2013-01-04  1.054902  1.054902  1.376873  0.052332  0.745668  >=0  1
2013-01-05  0.561835  0.561835 -0.889813 -0.098027 -1.399836   <0  1
2013-01-06 -0.911789 -0.911789  0.038497 -1.117129  1.121232  >=0  1

In [14]:
df['dates'] = df.index

In [15]:
df

                   A         B         C         D    E  F      dates
2013-01-01  0.089381 -0.656287 -0.807773  0.550668  >=0  1 2013-01-01
2013-01-02  1.277700 -1.119743 -0.769923 -0.969357   <0  0 2013-01-02
2013-01-03 -1.198768 -0.772949 -1.491370 -1.274547   <0  1 2013-01-03
2013-01-04  1.054902  1.376873  0.052332  0.745668  >=0  1 2013-01-04
2013-01-05  0.561835 -0.889813 -0.098027 -1.399836   <0  1 2013-01-05
2013-01-06 -0.911789  0.038497 -1.117129  1.121232  >=0  1 2013-01-06