In [1]:
datadir = r'C:\Users\steve\Desktop\clients_contacts'

In [2]:
# 攻取目标目录所有
def get_data(path=r'./*.xls', on=None):
    """合并数据"""
    all_data = pd.DataFrame()
    for f in glob.glob(path):
        df = pd.read_excel(f)
#        print(len(df))
        all_data = all_data.append(df, ignore_index=True)
    if on:
        return all_data.drop_duplicates(on)
    else:
        return all_data

In [3]:
import os
os.chdir(datadir)

In [53]:
import glob
df = get_data()

WARNING *** file size (4308) not 512 + multiple of sector size (512)
WARNING *** file size (10424732) not 512 + multiple of sector size (512)
WARNING *** file size (11294808) not 512 + multiple of sector size (512)
WARNING *** file size (13231428) not 512 + multiple of sector size (512)
WARNING *** file size (10037523) not 512 + multiple of sector size (512)
WARNING *** file size (12927908) not 512 + multiple of sector size (512)

In [54]:
len(df)

143322

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143322 entries, 0 to 143321
Data columns (total 15 columns):
用户编号       143322 non-null int64
客户姓名       135337 non-null object
真实姓名       0 non-null float64
邮箱         83391 non-null object
速卖通账号      133495 non-null object
国家         133824 non-null object
手机         101298 non-null object
电话         118656 non-null object
均消费额(￥)    143322 non-null float64
消费次数       143322 non-null int64
消费总额(￥)    143322 non-null float64
最近订单日期     143322 non-null datetime64[ns]
客户等级       82000 non-null object
客户类型       143261 non-null object
店铺         133525 non-null object
dtypes: datetime64[ns](1), float64(3), int64(2), object(9)
memory usage: 11.5+ MB

In [56]:
df.apply(lambda x:sum(x.isnull()),axis=0)

用户编号            0
客户姓名         7985
真实姓名       143322
邮箱          59931
速卖通账号        9827
国家           9498
手机          42024
电话          24666
均消费额(￥)         0
消费次数            0
消费总额(￥)         0
最近订单日期          0
客户等级        61322
客户类型           61
店铺           9797
dtype: int64

In [58]:
def cap(name):
    if len(str(name)) > 0:
        temp = []
        for word in str(name).split(' '):
            temp.append(word.capitalize()) 
        return ' '.join(temp)
df['客户姓名'] = df['客户姓名'].map(cap)

In [59]:
df['客户姓名'].value_counts()

Nan                          7985
Damla Marmarisli               52
Olga Olga                      29
Elena Elena                    22
Dean Veevers                   21
Anna Ershova                   18
Alex Alex                      18
Irina Irina                    18
Ecem Yazgan                    14
Aliexpress Zipy                14
Ivan Ivanov                    14
Oleg Oleg                      13
Sergey Ivanov                  12
Fanny Gamarra                  11
Vladimir Vladimir              11
Jose Martinez                  10
Anna Anna                      10
Olga Ivanova                   10
                               10
Andrey Ivanov                  10
Lucas Almeida                   9
Tanya Tanya                     9
Jorge Garcia                    9
Hans Kristian Skaarer           9
Elena Ivanova                   8
Dima Dima                       8
Svetlana Ivanova                8
Oksana Oksana                   8
Aliexpress Zip                  8
Elena Smirnova                  8
                             ...
Elvira Utkina                   1
Vitaly Yanbykh                  1
Maria Irigoitia                 1
Svetlana Efimova                1
Roger Boada Navarro             1
Desiree G                       1
Y Lin                           1
Sana Sarhan                     1
Jaime Morales                   1
Ludmila Yuzupchuk               1
Huesler Lorenzo                 1
Elena Nadeina                   1
Diana Amrahova                  1
Jelena Katsuba                  1
Miguel Cardenas                 1
Violet Siberia                  1
Nate Fordyce                    1
Alexandr Bolotin                1
Laetitia Serveaux               1
Roman Jponez                    1
Werner Briene                   1
Gisele Boschiero                1
Dalialileth Huansipanduro       1
Antizan Destani                 1
Alexandr Lyukshin               1
Amir Steiner                    1
Michal Rogala                   1
Dardan Sylaj                    1
Marcela Candeias                1
Tin Jeartrakul                  1
Name: 客户姓名, dtype: int64

In [24]:
# 导出汇总数据
df.to_csv('客户信息汇总.csv',index=False)

In [74]:
df = df.dropna(axis=1, how='all')

In [75]:
df.dtypes

用户编号                int64
客户姓名               object
邮箱                 object
速卖通账号              object
国家                 object
手机                 object
电话                 object
均消费额(￥)           float64
消费次数                int64
消费总额(￥)           float64
最近订单日期     datetime64[ns]
客户等级               object
客户类型               object
店铺                 object
dtype: object

In [85]:
df.ix[df['客户姓名']=='Nan','客户姓名'] = np.nan

In [89]:
df.ix[df['客户姓名'].isnull(),:].to_csv('没有客户名称.csv',index=False)

In [91]:
no_name = df.ix[df['客户姓名'].isnull(),:]

In [97]:
no_name.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7985 entries, 6273 to 141460
Data columns (total 14 columns):
用户编号       7985 non-null int64
客户姓名       0 non-null object
邮箱         1 non-null object
速卖通账号      0 non-null object
国家         73 non-null object
手机         0 non-null object
电话         0 non-null object
均消费额(￥)    7985 non-null float64
消费次数       7985 non-null int64
消费总额(￥)    7985 non-null float64
最近订单日期     7985 non-null datetime64[ns]
客户等级       7748 non-null object
客户类型       7985 non-null object
店铺         0 non-null object
dtypes: datetime64[ns](1), float64(2), int64(2), object(9)
memory usage: 655.0+ KB

In [98]:
df = df[df['客户姓名'].notnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135337 entries, 0 to 143321
Data columns (total 14 columns):
用户编号       135337 non-null int64
客户姓名       135337 non-null object
邮箱         83390 non-null object
速卖通账号      133495 non-null object
国家         133751 non-null object
手机         101298 non-null object
电话         118656 non-null object
均消费额(￥)    135337 non-null float64
消费次数       135337 non-null int64
消费总额(￥)    135337 non-null float64
最近订单日期     135337 non-null datetime64[ns]
客户等级       74252 non-null object
客户类型       135276 non-null object
店铺         133525 non-null object
dtypes: datetime64[ns](1), float64(2), int64(2), object(9)
memory usage: 10.8+ MB

In [100]:
len(df['客户姓名'].unique())

129132